In [18]:
class Student:
    # properties -> attributes->variable(global var, local var), functions-> constructor, function
    # attr
    name = "" # global var
    dept = "" # global var
    sem = ""
    
    # constructor -> global var initialize
    def __init__(self, name, dept, sem):
        self.name = name
        self.dept = dept
        self.sem  = sem
    
    def get_student_credit(self, ):
        # attr -> local var
        credit = 10
        return credit
    
    def total_amount_for_reg(self):
        return self.get_student_credit()*5000

In [19]:
# create a object
student = Student("Tamim", "CSE", "5th")

In [4]:
# call a object
student.name

'Tamim'

In [6]:
student.dept

'CSE'

In [16]:
student.sem

'5th'

In [20]:
student.total_amount_for_reg()

50000

In [12]:
student.get_student_credit()

10

In [1]:
# create a class Employee : attr: first_name, last_name, dept, joining_date
# -> function (attr) ex: get_first_name() return first_name

In [21]:
class Employee:
    first_name=""
    last_name=""
    dept=""
    joining_date=""
    def __init__(self,first_name,last_name,dept,joining_date):
        self.first_name=first_name
        self.last_name=last_name
        self.dept=dept
        self.joining_date=joining_date
    def get_first_name(self):
        return self.first_name
    def get_last_name(self):
        return self.last_name 
    def get_dept(self):
        return self.dept
    def get_joining_date(self):
        return self.joining_date

In [24]:

employee=Employee("fazle","rabbee","swe","1-1-2019")

In [25]:
employee.get_first_name()

'fazle'

In [26]:
employee.get_last_name()

'rabbe'

In [28]:
employee.get_dept()

'swe'

In [29]:
employee.get_joining_date()

'1-1-2019'